button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    border: solid black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    
    position: relative;
}

.card {
    background-color: lightgray;
    height: 150px;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.round-button {
  width: 60px; /* Set the width of the button */
  height: 60px; /* Set the height of the button */
  border: none; /* Remove default button border */
  border-radius: 50%; /* Make the button round */
  background-color: #007bff; /* Background color */
  cursor: pointer; /* Change cursor to pointer */
  overflow: hidden; /* Hide overflow */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  outline: none; /* Remove outline */
}

.round-button-image {
  width: 80%; /* Adjust image size */
  height: auto; /* Keep aspect ratio */
}

.headerContainer {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90%;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 12px;
  margin-top: 12px;
}

.searchbar {
  flex: 1;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: auto;
  height: 20px;
  border-radius: 20px;
}